__pycache__/
.DS_Store
.vscode/
.eggs*
~*
*.pdf
dist/*
!dist/osx/dist/Applications
!dist/osx/genAppDmg.sh
!dist/win/createInstaller.bat
!dist/win/innoSetupScript.iss
testing/
user_manual/*
!user_manual/accupatt_2_user_manual.tex
!user_manual/images